*{
    margin: 0px;
    box-sizing: 0px;
    padding: 0px;
}

.main{
    width: 350px;
    height: 550PX;
    box-shadow: 0px 0px  2px #000;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    background-color:rgb(243 243 243);
    margin: 0px auto;
    margin-top: 50px;

}
.input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input1{
    width: 95%;
    height: 120px;
    border: none;
    font-size: 36px;
    text-align: right;
    margin: 0px auto;
    /* margin-right: 20px; */
    /* margin-top: 10px;  */
    background-color:rgb(243 243 243);
}

.input1:focus{
    border-color: none;
}
.btn-main{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}

.btn{
    width: 24%;
    height:60px;
    /* background-color: white; */
    border-radius: 5px;
    border: 1px solid rgb(243 243 243);
    box-shadow: 0px 0px 2px rgb(249 249 249);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}

.btn-color{
    background-color: rgb(255 255 255);
}

.btn-color2{
    background-color: rgb(249 249 249);
}